<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <button onclick="Login()">SEND</button>
    
    <script>
        function Login() {
            var api_url = 'https://ml-health-system-api.vercel.app';
            var api_url = 'http://127.0.0.1:5000';
            fetch (
                `${api_url}/api/db/query`,
                {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json'
                    },
                    body: JSON.stringify({
                        query: 'SELECT * FROM users'
                    })
                }
            ).then(function(response) {
                return response.json();
            }).then(function(data) {
                console.log(data);
            }).catch(function(error) {
                console.log(error);
            });
        }
    </script>
</body>
</html>