<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <button onclick="Login()">SEND</button>
    
    <script>
        function Login() {
            fetch (
                'http://127.0.0.1:5000/api/user/register',
                {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json'
                    },
                    body: JSON.stringify({
                        user_name: 'testname',
                        user_username: 'testuser',
                        user_password: 'testpassword'
                    })
                }
            ).then(function(response) {
                return response.json();
            }).then(function(data) {
                console.log(data);
            }).catch(function(error) {
                console.log(error);
            });
        }
    </script>
</body>
</html>